<html>
<head>
    <title>Trainer Details</title>
</head>
<body>
    <h1>Trainer Details</h1>

    <form method="post" action="{{ url_for('trainer_create') }}">
        <label>First Name</label>
        <input type="text" name="fname">
        <br><br>

        <label>Last Name</label>
        <input type="text" name="lname">
        <br><br>

        <label>Designation</label>
        <input type="text" name="design">
        <br><br>

        <label>Course</label>
        <input type="text" name="course">
        <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
